@media screen and (max-width: 992px)
{
	.services .services-card .bg-pale-yellow{
		margin: 10px !important;
	}
	.services .services-card .bg-pale-red{
		margin: 10px !important;
	}
	.services .services-card .bg-pale-leaf{
		margin: 10px !important;
	}
	.services .services-card .bg-pale-primary{
		margin: 10px !important;
	}
	.services .services-details .text{
		padding: 0px 20px 0px 20px !important;
	}
	.services .services-details h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process .our-services .process{
		display: block !important;
		padding: 0px;
	}
	.our-process .our-services h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process-1 .our-services-1 .our-services-info h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.pricing-card .card-info .card-details .card {
		margin: 10px;
		padding: 0px;
	}
	.our-process .our-community .community-info
	{
		padding: 30px 0px 0px 0px;
	}

/*company-team*/
	.company-team .text-center h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.company-team .about-team .company-team-info h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.company-team .about-team
	{
		padding: 0px !important;
	}
	.company-team .about-team .company-team-image .team-image  img
	{
		margin: 0px !important;
		padding: 10px !important;
		width: 310px !important;
		height: 310px !important;
		display:  inline-block !important;
	}	

}

@media screen and (max-width: 1400px)
{
	.services .services-card .bg-pale-yellow{
		margin: 5px 0px 0px 10px !important;		
	}
	.services .services-card .bg-pale-red{
		margin: 30px 0px 10px 10px !important;
	}
	.services .services-card .bg-pale-leaf{
		margin: 0px 10px 0px 30px !important;
	}
	.services .services-card .bg-pale-primary{
		margin: 20px 30px 0px 0px !important;
	}
	.services .services-details .text{
		padding: 0px 20px 0px 20px !important;
	}
	.services .services-details h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process .our-services .process{
		display: block !important;
		padding: 0px;
	}
	.our-process .our-services h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process-1 .our-services-1 .our-services-info h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process .our-community .community-info
	{
		padding: 30px 0px 0px 0px;
	}
/*company-team*/
	.company-team .text-center h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.company-team .about-team .company-team-info h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.company-team .about-team
	{
		padding: 0px !important;
	}
	.company-team .about-team .company-team-image .team-image  img
	{
		margin: 0px !important;
		padding: 10px !important;
		width: 310px !important;
		height: 310px !important;
		display:  inline-block !important;
	}

}
@media screen and (max-width: 736px)
{
	.services .services-card .bg-pale-yellow{
		margin: 10px !important;		
	}
	.services .services-card .bg-pale-red{
		margin: 10px !important;
	}
	.services .services-card .bg-pale-leaf{
		margin: 10px !important;
	}
	.services .services-card .bg-pale-primary{
		margin: 10px !important;
	}
	.services .services-details .text{
		padding: 0px 20px 0px 20px !important;
	}
	.services .services-details h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process .our-services .process{
		display: block !important;
		padding: 0px;
	}
	.our-process .our-services h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process-1 .our-services-1 .our-services-info h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process .our-community .community-info
	{
		padding: 30px 0px 0px 0px;
	}
/*company-team*/
	.company-team .text-center h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.company-team .about-team .company-team-info h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.company-team .about-team
	{
		padding: 0px !important;
	}
	.company-team .about-team .company-team-image .team-image  img
	{
		margin: 0px !important;
		padding: 10px !important;
		width: 310px !important;
		height: 310px !important;
		display:  inline-block !important;
	}

}
@media screen and (max-width: 1024px)
{
	.services .services-card .bg-pale-yellow{
		margin: 0px 0px 10px 0px !important;		
	}
	.services .services-card .bg-pale-red{
		margin: 0px 0px 10px 0px !important;
	}
	.services .services-card .bg-pale-leaf{
		margin: 10px 0px 0px 0px !important;
	}
	.services .services-card .bg-pale-primary{
		margin: 10px 0px 0px 0px !important;
	}
	.services .services-details .text{
		padding: 0px 20px 0px 20px !important;
	}
	.services .services-details h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process .our-services .process{
		display: block !important;
		padding: 0px;
	}
	.our-process .our-services h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.our-process .our-community .community-info
	{
		padding: 30px 0px 0px 0px;
	}
	.our-process-1 .our-services-1 .our-services-info h2{
		font-size: 25px;
		margin-bottom: 10px;
	}
/*company-team*/
	.company-team .text-center h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.company-team .about-team .company-team-info h2
	{
		font-size: 25px;
		margin-bottom: 10px;
	}
	.company-team .about-team
	{
		padding: 0px !important;
	}
	.company-team .about-team .company-team-image .team-image  img
	{
		margin: 0px !important;
		padding: 10px !important;
		width: 310px !important;
		height: 310px !important;
		display:  inline-block !important;
	}
}