@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Sans:wght@700&family=Lobster&family=Manrope:wght@700&family=Poppins:ital,wght@0,500;0,600;0,700;1,700&family=Roboto+Mono:wght@100;500;700&family=Roboto+Slab:wght@100&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300;1,400&family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Sans:wght@700&family=Lobster&family=Manrope:wght@200;700&family=Poppins:ital,wght@0,500;0,600;0,700;1,700&family=Roboto+Mono:wght@100;500;700&family=Roboto+Slab:wght@100&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300;1,400&family=Rubik:wght@500&display=swap");
:root {
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-blue: #3f78e0;
  --bs-sky: #5eb9f0;
  --bs-purple: #747ed1;
  --bs-grape: #605dba;
  --bs-violet: #a07cc5;
  --bs-pink: #d16b86;
  --bs-fuchsia: #e668b3;
  --bs-red: #e2626b;
  --bs-orange: #f78b77;
  --bs-yellow: #fab758;
  --bs-green: #45c4a0;
  --bs-leaf: #7cb798;
  --bs-aqua: #54a8c7;
  --bs-navy: #343f52;
  --bs-ash: #9499a3;
  --bs-white: #fff;
  --bs-light: #fefefe;
  --bs-gray: #f6f7f9;
  --bs-dark: #262b32;
  --bs-primary: #3f78e0;
  --bs-pale-yellow: #fef3e4;
  --bs-pale-red: #fae6e7;
  --bs-pale-leaf: #eaf3ef;
  --bs-pale-primary: #e0e9fa;
  --bs-secondary: #aab0bc;
  --bs-success: #45c4a0;
  --bs-info: #54a8c7;
  --bs-warning: #fab758;
  --bs-danger: #e2626b;
  --bs-blue-rgb: 63, 120, 224;
  --bs-sky-rgb: 94, 185, 240;
  --bs-purple-rgb: 116, 126, 209;
  --bs-grape-rgb: 96, 93, 186;
  --bs-violet-rgb: 160, 124, 197;
  --bs-pink-rgb: 209, 107, 134;
  --bs-fuchsia-rgb: 230, 104, 179;
  --bs-red-rgb: 226, 98, 107;
  --bs-orange-rgb: 247, 139, 119;
  --bs-yellow-rgb: 250, 183, 88;
  --bs-green-rgb: 69, 196, 160;
  --bs-leaf-rgb: 124, 183, 152;
  --bs-aqua-rgb: 84, 168, 199;
  --bs-navy-rgb: 52, 63, 82;
  --bs-ash-rgb: 148, 153, 163;
  --bs-white-rgb: 255, 255, 255;
  --bs-light-rgb: 254, 254, 254;
  --bs-gray-rgb: 246, 247, 249;
  --bs-dark-rgb: 38, 43, 50;
  --bs-primary-rgb: 63, 120, 224;
  --bs-secondary-rgb: 170, 176, 188;
  --bs-success-rgb: 69, 196, 160;
  --bs-info-rgb: 84, 168, 199;
  --bs-warning-rgb: 250, 183, 88;
  --bs-danger-rgb: 226, 98, 107;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 96, 105, 123;
  --bs-body-bg-rgb: 254, 254, 254;
  --bs-font-sans-serif: "Manrope", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-root-font-size: 20px;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.8rem;
  --bs-body-font-weight: 500;
  --bs-body-line-height: 1.7;
  --bs-body-color: #60697b;
  --bs-body-bg: #fefefe
; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  white-space: normal; }

@keyframes animatemedia {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-5px); } }

h3 {
  white-space: normal;
  font-family: 'DM Serif Display', serif;
  color: #343f52; }

p {
  line-height: 25px;
  font-size: 15px;
  white-space: normal;
  font-weight: 400;
  font-family: 'Poppins', sans-serif; }

a {
  text-decoration: none;
  font-size: 16px;
  color: #60697b;
  font-family: 'Poppins', sans-serif; }

.row {
  padding: 0px;
  margin: 0px; }

.services {
  padding: 80px 0px 0px 0px; }
  .services .services-details {
    margin-top: 50px; }
    .services .services-details h6 {
      font-weight: 700; }
    .services .services-details h2 {
      font-size: 36px;
      font-weight: 700;
      margin: 0px 0px 25px; }
    .services .services-details .more-btn {
      color: white;
      border-radius: 50px;
      width: 150px;
      height: 50px;
      padding: 10px 25px;
      margin-top: 15px;
      font-weight: 700;
      display: inline-block;
      position: relative;
      overflow: hidden;
      background: var(--bs-blue);
      background: var(--bs-navy); }
      .services .services-details .more-btn:hover {
        transform: translateY(-5px);
        transition: .5s; }
    .services .services-details .services-card {
      padding: 0px;
      margin: 0px; }
      .services .services-details .services-card .card-details {
        margin: 0px; }
        .services .services-details .services-card .card-details .card-info {
          border-radius: 10px;
          padding: 30px; }
        .services .services-details .services-card .card-details h4 {
          font-size: 19px;
          font-weight: 700;
          color: var(--bs-navy); }
        .services .services-details .services-card .card-details P {
          font-size: 16px; }
      .services .services-details .services-card .bg-pale-yellow {
        background-color: var(--bs-pale-yellow);
        margin: 5px 0px 0px 80px; }
      .services .services-details .services-card .bg-pale-red {
        background-color: var(--bs-pale-red);
        margin: 50px 30px 10px 0px; }
      .services .services-details .services-card .bg-pale-leaf {
        background-color: var(--bs-pale-leaf);
        margin: 0px 10px 0px 30px; }
      .services .services-details .services-card .bg-pale-primary {
        background-color: var(--bs-pale-primary);
        margin: 20px 80px 0px 0px; }

@media screen and (max-width: 540px) {
  .services {
    padding: 0px 0px 0px 0px; }
    .services .services-details {
      margin-top: 0px; } }

.bg-soft-primary {
  background-color: #f1f5fd !important;
  margin-top: 100px; }

.our-process {
  align-items: center;
  margin: 0px; }
  .our-process h6 {
    font-weight: 700;
    color: var(--bs-body-color); }
  .our-process h2 {
    font-weight: 700;
    color: var(--bs-navy); }
  .our-process .process {
    padding: 0px 95px 0px 95px; }
    .our-process .process .concept {
      padding: 30px 35px 0px 35px; }
      .our-process .process .concept h4 {
        font-weight: 700;
        font-size: 19px; }
      .our-process .process .concept p {
        font-size: 16px; }

.our-services-1 {
  margin-top: 80px; }
  .our-services-1 .our-services-info {
    align-items: center; }
    .our-services-1 .our-services-info h2 {
      font-size: 36px;
      font-weight: 700;
      padding: 0px 30px 0px 0px; }
    .our-services-1 .our-services-info h6 {
      font-size: 16px;
      font-weight: 700;
      margin: 0px 0px 5px; }
    .our-services-1 .our-services-info .our-process-contant {
      padding: 0px 35px; }
      .our-services-1 .our-services-info .our-process-contant h2 {
        margin: 0px 0px 30px; }
      .our-services-1 .our-services-info .our-process-contant h6 {
        font-size: 16px;
        font-weight: 700; }
    .our-services-1 .our-services-info .progress {
      height: 8px;
      margin: 0px 0px 20px; }
      .our-services-1 .our-services-info .progress .bg-primary {
        width: 100%;
        color: black;
        font-weight: bold; }
      .our-services-1 .our-services-info .progress .bg-success {
        width: 80%;
        color: black;
        font-weight: bold; }
      .our-services-1 .our-services-info .progress .bg-danger {
        width: 90%;
        color: black;
        font-weight: bold; }
      .our-services-1 .our-services-info .progress .bg-warning {
        width: 70%;
        color: black;
        font-weight: bold; }
    .our-services-1 .our-services-info .bring-option {
      width: calc(100% / 2);
      margin: 15px 0px 0px;
      padding: 0px 0px 0px 0px; }
      .our-services-1 .our-services-info .bring-option i {
        position: absolute;
        padding: 5px;
        background: #eee7f5;
        border-radius: 50%;
        margin: 2px; }
      .our-services-1 .our-services-info .bring-option p {
        white-space: normal;
        padding: 0px 0px 0px 30px;
        position: relative; }
    @media screen and (max-width: 540px) {
      .our-services-1 .our-services-info .bring-option {
        width: calc(100% / 1); } }

.pricing-card {
  align-items: center;
  vertical-align: midde; }
  .pricing-card .card-info {
    margin-top: -70px; }
    .pricing-card .card-info .card-details {
      margin-bottom: 100px; }
    .pricing-card .card-info .card {
      background: white;
      padding: 30px;
      box-shadow: 1px 1px 10px #ECEAEA; }
      .pricing-card .card-info .card h4 {
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px; }
        .pricing-card .card-info .card h4 span {
          font-size: 60px;
          font-weight: 500; }
      .pricing-card .card-info .card .project-plan {
        margin: 0px 30px;
        padding: 60px 40px; }
        .pricing-card .card-info .card .project-plan p {
          padding-bottom: 10px;
          margin: 0px; }
        .pricing-card .card-info .card .project-plan i {
          font-size: 20px;
          padding: 0px 10px 0px 10px;
          color: var(--bs-blue); }
      .pricing-card .card-info .card .choose-btn {
        color: white;
        border-radius: 50px;
        width: 150px;
        height: 50px;
        padding: 10px 25px;
        margin-top: 15px;
        font-weight: 700;
        display: inline-block;
        position: relative;
        overflow: hidden;
        background: var(--bs-blue); }
        .pricing-card .card-info .card .choose-btn:hover {
          transform: translateY(-5px);
          transition: .5s; }
    @media screen and (max-width: 920px) {
      .pricing-card .card-info .card {
        padding: 0px; }
        .pricing-card .card-info .card .project-plan {
          margin: 0px 0px;
          padding: 20px 0px; } }

.our-community .community-info {
  padding: 30px 150px 0px 150px; }

@property --num {
  syntax: "<integer>";
  initial-value: 5;
  inherits: false; }

.count-num {
  animation: counter 5s alternate ease-in-out;
  counter-reset: num var(--num);
  font-size: 44px; }

.count-num::after {
  content: counter(num); }

@keyframes counter {
  from {
    --num: 5; }
  to {
    --num: 100; } }

.footer-bg {
  align-items: center;
  margin-top: 100px;
  background-color: #21262c; }
  .footer-bg .footer-info a {
    text-decoration: none; }
  .footer-bg .footer-info h4 {
    font-size: 19px;
    font-weight: 700; }
  .footer-bg .footer-info p {
    color: #cacaca;
    font-size: 16px; }
  .footer-bg .footer-info .social-media a {
    margin-right: 20px; }
  .footer-bg .footer-info .social-media img:hover {
    transform: translateY(-3px);
    transition: .5s;
    cursor: pointer; }

.company-team {
  padding: 80px 0px 0px 0px; }
  .company-team .about-us-contant {
    background: var(--bs-gray); }
    .company-team .about-us-contant h2 {
      padding-top: 50px;
      margin: 0px 0px 20px;
      font-size: 48px;
      font-weight: 700;
      color: #000; }
    .company-team .about-us-contant p {
      font-size: 21px;
      font-weight: 400;
      color: var(--bs-body-color); }
  @media screen and (max-width: 540px) {
    .company-team .about-us-contant {
      background: var(--bs-gray); }
      .company-team .about-us-contant h2 {
        font-size: 30px; } }
  .company-team .about-team .company-team-info h2 {
    font-weight: 700;
    font-size: 36px;
    font-color: #343f52;
    margin: 0px 0px 52px; }
  .company-team .about-team .company-team-info h4 {
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    margin-bottom: 10px;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin: 0px 0px 20px; }
  .company-team .about-team .company-team-info p {
    margin: 0px 0px 30px; }
  .company-team .about-team .company-team-info ul {
    list-style: none; }
    .company-team .about-team .company-team-info ul li {
      padding: 0px 10px 0px 10px;
      font-size: 16px; }
      .company-team .about-team .company-team-info ul li i {
        font-size: 20px;
        padding: 0px 10px 0px 10px;
        color: var(--bs-blue); }
  .company-team .about-team .bring-option {
    width: calc(100% / 2);
    margin: 15px 0px 0px;
    padding: 0px 0px 0px 30px; }
    .company-team .about-team .bring-option i {
      position: absolute;
      padding: 5px;
      background: #eee7f5;
      border-radius: 50%;
      margin: 2px; }
    .company-team .about-team .bring-option p {
      white-space: normal;
      padding: 0px 0px 0px 30px;
      position: relative; }
  @media screen and (max-width: 540px) {
    .company-team .about-team .bring-option {
      width: calc(100% / 1); } }
  .company-team .about-team .company-team-image .team-image .about-2 img {
    width: 370px;
    height: 370px;
    margin-left: 180px; }
  .company-team .about-team .company-team-image .team-image .about-3 img {
    width: 340px;
    height: 340px;
    margin: -240px 0px 0px 30px; }
  .company-team .how-work h2 {
    font-weight: 700;
    margin: 0px 0px 20px;
    padding: 0px 90px; }
  .company-team .how-work .how-work-info .how-work-text {
    padding: 0px 35px;
    margin: 50px 0px 0px; }
    .company-team .how-work .how-work-info .how-work-text h2 {
      text-align: left !important;
      padding: 0px;
      margin: 0px 0px 15px; }
    .company-team .how-work .how-work-info .how-work-text h4 {
      font-size: 21px;
      font-weight: 700;
      margin: 0px 0px 20px; }
    .company-team .how-work .how-work-info .how-work-text p {
      font-size: 16px;
      margin: 0px 0px 20px; }
  .company-team .how-work .how-work-info .btn {
    color: white;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    padding: 10px 25px;
    margin-top: 15px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: var(--bs-blue);
    border: 0px;
    background-color: var(--bs-blue); }
    .company-team .how-work .how-work-info .btn:hover {
      transform: translateY(-5px);
      transition: .5s; }
  .company-team .how-work .how-work-info .how-work-steps {
    margin: 50px 0px 0px; }
    .company-team .how-work .how-work-info .how-work-steps .working-steps {
      align-items: center;
      padding: 10px 0px 10px 0px; }
      .company-team .how-work .how-work-info .how-work-steps .working-steps .card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; }
        .company-team .how-work .how-work-info .how-work-steps .working-steps .card .card-body {
          padding: 30px 10px; }
          .company-team .how-work .how-work-info .how-work-steps .working-steps .card .card-body .number h4 {
            background: var(--bs-gray);
            align-items: center;
            border-radius: 30px;
            padding: 15px;
            color: var(--bs-blue);
            font-weight: 700; }
          .company-team .how-work .how-work-info .how-work-steps .working-steps .card .card-body .text {
            align-items: center;
            padding: 0px 0px 0px 30px; }
            .company-team .how-work .how-work-info .how-work-steps .working-steps .card .card-body .text h6 {
              font-weight: 700;
              font-size: 19px; }
            .company-team .how-work .how-work-info .how-work-steps .working-steps .card .card-body .text p {
              margin: 0px;
              font-size: 16px; }
    .company-team .how-work .how-work-info .how-work-steps .steps-2 {
      margin-left: 50px; }
  @media screen and (max-width: 540px) {
    .company-team .how-work h2 {
      padding: 0px 0px; }
    .company-team .how-work .how-work-info .how-work-text {
      padding: 0px 5px; } }
  .company-team .dotted-bg {
    margin: 0px 0px -80px 80px;
    float: left; }
  .company-team .team h2 {
    font-size: 36px;
    color: #000;
    font-weight: 700; }
  .company-team .team .team-info .dotted-bg img {
    border-radius: 50%;
    margin-left: -20px; }
  .company-team .team .team-info .team-profile .team-members {
    padding: 30px; }
    .company-team .team .team-info .team-profile .team-members .card {
      border: none;
      border-radius: 5px; }
    .company-team .team .team-info .team-profile .team-members .card-body {
      box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.09);
      padding: 30px 10px; }
      .company-team .team .team-info .team-profile .team-members .card-body img {
        border-radius: 50px; }
      .company-team .team .team-info .team-profile .team-members .card-body h4 {
        font-size: 19px;
        font-weight: 700;
        color: var(--bs-navy); }
      .company-team .team .team-info .team-profile .team-members .card-body h5 {
        font-size: 13px;
        font-weight: 700;
        color: var(--ba-sacondary);
        text-transform: uppercase; }
      .company-team .team .team-info .team-profile .team-members .card-body p {
        font-size: 16px; }
      .company-team .team .team-info .team-profile .team-members .card-body .social-icon img:hover {
        transform: translateY(-3px);
        transition: .5s all;
        cursor: pointer; }
  .company-team .team .team-info .slide .carousel-btn {
    background-color: var(--bs-secondary);
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    border-radius: 50%; }
  .company-team .team-progress .team-progress-info {
    padding: 0px 150px 0px 150px; }
    .company-team .team-progress .team-progress-info h2 {
      font-weight: 700;
      color: #000 !important; }
  .company-team .convinc-contant .convinc-img {
    padding: 50px 0px; }
    .company-team .convinc-contant .convinc-img img {
      border-radius: 5px; }
  .company-team .convinc-contant .customer-support h2 {
    font-weight: 700; }
  .company-team .convinc-contant .customer-support .support-info h6 {
    font-weight: 700; }

@media screen and (max-width: 540px) {
  .company-team {
    padding: 10px 10px;
    margin: 0px 0px; } }

::placeholder {
  color: red; }

.get-in-touch h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 0px 0px 20px; }

.get-in-touch .contact-us .contact-us-link {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .get-in-touch .contact-us .contact-us-link .contact-details {
    padding: 90px; }
    .get-in-touch .contact-us .contact-us-link .contact-details .support-info h6 {
      font-size: 18px;
      font-weight: 700;
      margin: 0px 0px 5px; }
    .get-in-touch .contact-us .contact-us-link .contact-details .support-info p {
      margin: 0px 0px 20px; }

.get-in-touch .leave-msg h6 {
  font-weight: 600; }

.get-in-touch .leave-msg .msg-box .msg-link {
  padding: 20px; }
  .get-in-touch .leave-msg .msg-box .msg-link input {
    padding: 12px 20px;
    margin: 10px;
    font-weight: 600; }
  .get-in-touch .leave-msg .msg-box .msg-link .text-area {
    margin: 10px;
    font-weight: 600; }
  .get-in-touch .leave-msg .msg-box .msg-link button {
    color: white;
    border-radius: 50px;
    padding: 10px 25px;
    margin-top: 15px;
    font-weight: 700;
    background: var(--bs-blue); }
    .get-in-touch .leave-msg .msg-box .msg-link button:hover {
      transform: translateY(-5px);
      transition: .5s; }
  .get-in-touch .leave-msg .msg-box .msg-link ::placeholder {
    font-size: 16px;
    color: #959ca9; }
  .get-in-touch .leave-msg .msg-box .msg-link h6 {
    font-size: 16px;
    color: #959ca9;
    text-align: center;
    margin: 0px 0px 20px; }
    .get-in-touch .leave-msg .msg-box .msg-link h6 span {
      font-size: 20px; }

.about-team .team .about-team-info {
  margin: 50px 0px 0px; }
  .about-team .team .about-team-info h6 {
    font-size: 15px;
    font-weight: 700; }
    .about-team .team .about-team-info h6 i {
      padding-right: 10px; }
  .about-team .team .about-team-info h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 25px; }
  .about-team .team .about-team-info p {
    font-size: 16px;
    margin: 0px 0px 20px; }
  .about-team .team .about-team-info .see-all {
    color: white;
    border-radius: 50px;
    padding: 10px 25px;
    margin-top: 15px;
    font-weight: 700;
    background: var(--bs-blue); }
    .about-team .team .about-team-info .see-all:hover {
      transform: translateY(-5px);
      transition: .5s; }

.about-team .team .team-info .team-profile .team-members {
  padding: 30px 10px; }
  .about-team .team .team-info .team-profile .team-members .card {
    border: none;
    border-radius: 5px; }
  .about-team .team .team-info .team-profile .team-members .card-body {
    box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.09);
    padding: 30px 10px;
    text-align: center; }
    .about-team .team .team-info .team-profile .team-members .card-body img {
      border-radius: 50px; }
    .about-team .team .team-info .team-profile .team-members .card-body h4 {
      font-size: 19px;
      font-weight: 700;
      color: var(--bs-navy); }
    .about-team .team .team-info .team-profile .team-members .card-body h5 {
      font-size: 13px;
      font-weight: 700;
      color: var(--ba-sacondary);
      text-transform: uppercase; }
    .about-team .team .team-info .team-profile .team-members .card-body p {
      font-size: 16px; }
    .about-team .team .team-info .team-profile .team-members .card-body .social-icon img:hover {
      transform: translateY(-3px);
      transition: .5s all;
      cursor: pointer; }

.about-team .team .team-info .slide .carousel-btn {
  background-color: var(--bs-secondary);
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  border-radius: 50%; }

hr {
  margin: 4.5rem 0;
  color: rgba(164, 174, 198, 0.2);
  background-color: currentColor;
  border: 0;
  opacity: 1; }

.navbar-bg-light {
  background: #fff;
  box-shadow: none; }

.content-wrapper {
  flex-grow: 1; }
  .content-wrapper .top-header {
    padding: 0.8rem 0;
    background: #fff; }
    .content-wrapper .top-header nav .header-menu ul li .nav-link {
      font-size: 1rem;
      font-weight: 700;
      color: var(--bs-navy);
      white-space: nowrap; }
      .content-wrapper .top-header nav .header-menu ul li .nav-link:hover {
        color: var(--bs-violet); }
    .content-wrapper .top-header .social-media-icon nav ul li .nav-link {
      font-size: 1rem;
      color: var(--bs-navy); }
      .content-wrapper .top-header .social-media-icon nav ul li .nav-link:hover {
        color: var(--bs-violet);
        animation-name: animatemedia;
        animation-duration: 1s;
        animation-fill-mode: both; }
  .content-wrapper .mob-header {
    display: none;
    padding: 0.5rem 0.75rem; }
    .content-wrapper .mob-header .offcanvas .offcanvas-body ul li .nav-link {
      font-size: 1rem;
      font-weight: 500;
      color: var(--bs-navy); }
      .content-wrapper .mob-header .offcanvas .offcanvas-body ul li .nav-link:hover {
        color: var(--bs-violet); }
    .content-wrapper .mob-header .offcanvas .offcanvas-body .social-media-icon {
      display: flex; }
      .content-wrapper .mob-header .offcanvas .offcanvas-body .social-media-icon a {
        font-size: 1rem;
        font-weight: 500;
        color: var(--bs-navy); }
        .content-wrapper .mob-header .offcanvas .offcanvas-body .social-media-icon a:hover {
          color: var(--bs-violet);
          animation: animatemedia .5s ease normal; }
    .content-wrapper .mob-header .offcanvas-btn {
      padding: 1.2rem 0.75rem; }
      .content-wrapper .mob-header .offcanvas-btn button i {
        color: var(--bs-violet); }
  @media (max-width: 540px) {
    .content-wrapper .top-header {
      display: none; }
    .content-wrapper .mob-header {
      display: block; } }
  @media (max-width: 280px) {
    .content-wrapper .offcanvas-btn {
      padding: 0.8rem 0.5rem !important; } }
  .content-wrapper .contact-one {
    margin-top: 100px; }
    .content-wrapper .contact-one .left-portion {
      padding: 0rem 7rem; }
      .content-wrapper .contact-one .left-portion h3 {
        font-size: 52px;
        margin: 30px 0px 25px; }
      .content-wrapper .contact-one .left-portion p {
        white-space: normal;
        font-size: 25px;
        font-weight: 400;
        color: var(--bs-body-color);
        margin: 0px 0px 35px;
        line-height: 1.5;
        padding: 0px 40px 0px 0px; }
      .content-wrapper .contact-one .left-portion .explo-contact {
        margin: 5px; }
        .content-wrapper .contact-one .left-portion .explo-contact a button {
          float: left; }
        .content-wrapper .contact-one .left-portion .explo-contact a .btn-explore {
          background: var(--bs-violet);
          border: 2px solid var(--bs-violet);
          color: #fff;
          border-radius: 50px;
          padding: 15px 28px;
          font-weight: 700;
          margin: 0px 10px 0px; }
        .content-wrapper .contact-one .left-portion .explo-contact a .btn-contact {
          border: 2px solid var(--bs-violet);
          color: var(--bs-violet);
          border-radius: 50px;
          padding: 15px 28px;
          font-weight: 700; }
          .content-wrapper .contact-one .left-portion .explo-contact a .btn-contact:hover {
            background: var(--bs-violet);
            color: #fff; }
        .content-wrapper .contact-one .left-portion .explo-contact:hover {
          animation-name: animatemedia;
          animation-duration: .5s;
          animation-fill-mode: both; }
    @media screen and (max-width: 540px) {
      .content-wrapper .contact-one .left-portion {
        padding: 0rem 1rem; } }
    @media screen and (max-width: 912px) {
      .content-wrapper .contact-one .left-portion {
        width: 100vw; }
      .content-wrapper .contact-one .right-portion {
        width: 100vw; }
        .content-wrapper .contact-one .right-portion img {
          border-radius: 0px !important;
          height: 40vh !important; } }
    .content-wrapper .contact-one .right-portion img {
      border-radius: 20px 0px 0px 20px;
      height: 70vh;
      width: 100vw; }
    @media screen and (max-width: 540px) {
      .content-wrapper .contact-one .right-portion img {
        border-radius: 0px 0px 0px 0px;
        height: 50vh; } }
  @media screen and (max-width: 1000px) {
    .content-wrapper .contact-one .left-portion .explo-contact a button {
      margin: 5px 0px; }
    .content-wrapper .contact-one .left-portion .explo-contact a .btn-explore {
      margin: 0px 0px 0px; }
    .content-wrapper .contact-one .left-portion .explo-contact a .btn-contact {
      margin: 0px 5px 10px; } }
  @media screen and (max-width: 540px) {
    .content-wrapper .contact-one {
      margin-top: 0px; }
      .content-wrapper .contact-one .left-portion h3 {
        font-size: 32px;
        text-align: center; }
      .content-wrapper .contact-one .left-portion p {
        text-align: center;
        padding: 0px 0px 0px 0px; }
      .content-wrapper .contact-one .left-portion .explo-contact a button {
        width: 70vw !important;
        margin: 5px 0px; }
      .content-wrapper .contact-one .left-portion .explo-contact a .btn-explore {
        margin: 0px 0px 0px; } }
  .content-wrapper .we-bring {
    padding: 160px 15px; }
    .content-wrapper .we-bring .we-bring-one {
      margin: -70px -35px 80px; }
      .content-wrapper .we-bring .we-bring-one .rounded img {
        border-radius: 10px !important; }
      .content-wrapper .we-bring .we-bring-one .bring-portion {
        margin: 70px 0px 0px;
        padding: 0px 35px; }
        .content-wrapper .we-bring .we-bring-one .bring-portion h3 {
          font-size: 40px;
          margin: 0px 0px 25px; }
        .content-wrapper .we-bring .we-bring-one .bring-portion p {
          white-space: normal;
          font-size: 16px;
          font-weight: 400;
          color: #60697b;
          margin: 0px 0px 35px; }
      .content-wrapper .we-bring .we-bring-one .bring-option {
        width: calc(100% / 2); }
        .content-wrapper .we-bring .we-bring-one .bring-option i {
          position: absolute;
          padding: 5px;
          background: #eee7f5;
          border-radius: 50%;
          margin: 2px; }
        .content-wrapper .we-bring .we-bring-one .bring-option p {
          white-space: normal;
          padding: 0px 0px 0px 30px;
          position: relative; }
      @media screen and (max-width: 540px) {
        .content-wrapper .we-bring .we-bring-one .bring-option {
          width: calc(100% / 1); } }
    .content-wrapper .we-bring .bring-sub .bring-pera {
      width: calc(100% / 3);
      float: left; }
      .content-wrapper .we-bring .bring-sub .bring-pera img {
        margin: 0px 20px 0px 0px;
        width: 50%; }
      .content-wrapper .we-bring .bring-sub .bring-pera h5 {
        white-space: normal;
        font-size: 19px;
        font-weight: 700;
        margin: 0px 0px 5px;
        color: var(--bs-navy); }
      .content-wrapper .we-bring .bring-sub .bring-pera p {
        white-space: normal;
        font-size: 16px;
        font-weight: normal;
        color: var(--bs-body-color); }
    @media screen and (max-width: 540px) {
      .content-wrapper .we-bring .bring-sub .bring-pera {
        width: calc(100% / 1);
        text-align: center;
        padding: 0px 20px; } }
    .content-wrapper .we-bring .bring-second {
      margin: 80px -20px 0px; }
      .content-wrapper .we-bring .bring-second .few-reason-img figure img {
        border-radius: 0.5rem; }
      .content-wrapper .we-bring .bring-second .few-reason {
        margin: 80px 0px 0px;
        padding: 0px 20px; }
        .content-wrapper .we-bring .bring-second .few-reason h3 {
          font-size: 40px;
          margin: 0px 0px 35px; }
        .content-wrapper .we-bring .bring-second .few-reason .accordian {
          max-width: 600px;
          display: block;
          margin: 10px auto; }
          .content-wrapper .we-bring .bring-second .few-reason .accordian .card {
            border: none;
            margin-bottom: -20px;
            float: left;
            width: 100%; }
            .content-wrapper .we-bring .bring-second .few-reason .accordian .card .card-header {
              border: none;
              position: relative;
              background: none; }
              .content-wrapper .we-bring .bring-second .few-reason .accordian .card .card-header span {
                position: absolute;
                top: 20px;
                border-radius: 50%;
                text-align: center; }
                .content-wrapper .we-bring .bring-second .few-reason .accordian .card .card-header span i {
                  height: 25px;
                  width: 25px;
                  color: var(--bs-violet);
                  line-height: 22px;
                  font-size: 1rem; }
              .content-wrapper .we-bring .bring-second .few-reason .accordian .card .card-header h2 {
                cursor: pointer;
                color: #000;
                position: relative;
                margin: 0;
                padding: 15px 25px;
                font-weight: 700;
                font-size: 1rem; }
                .content-wrapper .we-bring .bring-second .few-reason .accordian .card .card-header h2:hover {
                  color: var(--bs-violet);
                  transition: .2s ease-in; }
            .content-wrapper .we-bring .bring-second .few-reason .accordian .card .card-body {
              display: none;
              padding: 20px 0px 20px 40px; }
              .content-wrapper .we-bring .bring-second .few-reason .accordian .card .card-body p {
                font-size: 1rem;
                line-height: 1.5rem;
                color: #444444;
                margin: 0px; }
    @media screen and (max-width: 912px) {
      .content-wrapper .we-bring .bring-second .few-reason {
        width: 100vw; }
      .content-wrapper .we-bring .bring-second .few-reason-img {
        width: 100vw; } }
  @media screen and (max-width: 912px) {
    .content-wrapper .we-bring .we-bring-one .we-bring-first {
      width: 100vw; } }
  .content-wrapper .we-proud {
    padding: 120px 15px; }
    .content-wrapper .we-proud .proud-contant {
      padding: 0px 35px; }
      .content-wrapper .we-proud .proud-contant h3 {
        font-size: 40px;
        margin: 0px 0px 15px;
        padding: 0px 50px 0px 0px; }
      .content-wrapper .we-proud .proud-contant p {
        font-size: 21px;
        color: var(--bs-body-color);
        padding: 0px 50px 0px 0px;
        font-weight: 400; }
    .content-wrapper .we-proud .counter {
      margin: 30px 0px 0px;
      padding: 0px 15px; }
      .content-wrapper .we-proud .counter img {
        width: 50%;
        margin: 0px 0px 15px; }
      .content-wrapper .we-proud .counter h3 {
        font-size: 42px;
        margin: 0px 0px 10px; }
      .content-wrapper .we-proud .counter p {
        font-size: 16px;
        font-weight: 400; }
    .content-wrapper .we-proud .gy-6 {
      --bs-gutter-y: 1.5rem; }
    .content-wrapper .we-proud .company-team {
      padding: 30px;
      box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
      border-radius: 8px; }
      .content-wrapper .we-proud .company-team .com-team-content img {
        border-radius: 50%;
        margin: 0px 0px 20px;
        height: 100px;
        width: 100px; }
      .content-wrapper .we-proud .company-team .com-team-content h4 {
        font-size: 19px;
        color: var(--bs-navy);
        margin: 0px 0px 5px;
        font-weight: 700; }
      .content-wrapper .we-proud .company-team .com-team-content h5 {
        font-size: 13px;
        text-transform: uppercase;
        color: var(--bs-secondary);
        margin: 0px 0px 10px;
        font-weight: 700; }
      .content-wrapper .we-proud .company-team .com-team-content p {
        font-size: 16px;
        color: var(--bs-body-color); }
      .content-wrapper .we-proud .company-team .com-team-content .social-media-icon a {
        text-decoration: none;
        margin: 0px 14px 0px 0px; }
        .content-wrapper .we-proud .company-team .com-team-content .social-media-icon a i {
          font-size: 20px; }
          .content-wrapper .we-proud .company-team .com-team-content .social-media-icon a i:hover {
            animation-name: animatemedia;
            animation-duration: 1s;
            animation-fill-mode: both;
            color: var(--bs-violet); }
  @media screen and (max-width: 912px) {
    .content-wrapper .we-proud .we-proud-contant {
      width: 100vw; } }
  @media screen and (max-width: 540px) {
    .content-wrapper .we-proud {
      padding: 10px 15px;
      overflow-X: hidden; }
      .content-wrapper .we-proud .proud-contant {
        margin: -50px -15px 60px; }
        .content-wrapper .we-proud .proud-contant h3 {
          padding: 0px 0px 0px 0px !important; }
        .content-wrapper .we-proud .proud-contant p {
          padding: 0px 0px 0px 0px !important; } }
  .content-wrapper .what-people h3 {
    font-size: 40px;
    margin: 0px 0px 15px; }
  .content-wrapper .what-people p {
    font-size: 21px;
    margin: 0px 0px 50px;
    font-weight: 400; }
  .content-wrapper .what-people img {
    border-radius: 10px; }
  .content-wrapper .what-people .card {
    border: none; }
    .content-wrapper .what-people .card .counter-wrapper {
      background: #cccccc;
      padding: 60px 40px; }
      .content-wrapper .what-people .card .counter-wrapper p {
        margin-bottom: 0;
        font-size: .8rem;
        font-weight: 500; }
      .content-wrapper .what-people .card .counter-wrapper .counter {
        font-size: calc(1.325rem + .9vw);
        letter-spacing: normal;
        line-height: 1;
        margin-bottom: .5rem; }
  .content-wrapper .what-people .card {
    border-radius: 20px; }
    .content-wrapper .what-people .card .card-body {
      border-radius: 8px; }
  .content-wrapper .carousel-indicators button {
    border: 2px solid #000;
    border-radius: 50%;
    width: 5px;
    height: 5px !important;
    background: #000; }
  .content-wrapper .carousel-item {
    min-height: 350px; }
    .content-wrapper .carousel-item .carousel-caption {
      color: #000; }
      .content-wrapper .carousel-item .carousel-caption i {
        font-size: 3rem;
        color: var(--bs-secondary); }
      .content-wrapper .carousel-item .carousel-caption blockquote p {
        color: var(--bs-body-color); }
      .content-wrapper .carousel-item .carousel-caption blockquote .blockquote-details h5 {
        font-weight: 700; }
      .content-wrapper .carousel-item .carousel-caption blockquote .blockquote-details p {
        font-size: 1rem; }
  .content-wrapper .add-logos img {
    border-radius: 0px; }
  .content-wrapper footer .mb-15 {
    margin-bottom: 5rem !important; }
  .content-wrapper footer .image-wrapper {
    background-image: url("../images/about16.jpg");
    background-size: cover;
    height: 465px; }
  .content-wrapper footer .col-lg-6 .p-10 {
    padding: 2.5rem !important; }
  .content-wrapper footer .col-lg-6 .p-md-11 {
    padding: 3rem !important; }
  .content-wrapper footer .col-lg-6 .p-lg-13 {
    padding: 4rem !important; }
  .content-wrapper footer .col-lg-6 h3 {
    font-size: 40px;
    margin: 0px 0px 15px; }
  .content-wrapper footer .col-lg-6 p.lead {
    font-size: 21px;
    font-weight: 400; }
  .content-wrapper footer .col-lg-6 p {
    font-size: 16px;
    margin: 0px 0px 20px;
    color: var(--bs-body-color); }
  .content-wrapper footer .col-lg-6 a {
    background: var(--bs-violet);
    color: #fff;
    margin: 10px 0px 0px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 700; }
    .content-wrapper footer .col-lg-6 a:hover {
      animation-name: animatemedia;
      animation-duration: .5s;
      animation-fill-mode: both; }
  @media screen and (max-width: 540px) {
    .content-wrapper footer .col-lg-6 .p-10 {
      padding: 1rem !important; }
    .content-wrapper footer .col-lg-6 .p-md-11 {
      padding: 1rem !important; }
    .content-wrapper footer .col-lg-6 .p-lg-13 {
      padding: 1rem !important; } }
  .content-wrapper footer .widget h4 {
    font-size: 19px;
    margin: 0px 0px 10px;
    font-weight: 700; }
  .content-wrapper footer .widget p a {
    font-size: 16px;
    text-decoration: none;
    color: var(--bs-body-color);
    line-height: 0;
    text-align: center; }

@medai screen and(max-width:540px) {
  .content-wrapper footer .widget p a {
    white-space: normal; } }
  .content-wrapper footer nav a {
    margin: 0 7px; }
    .content-wrapper footer nav a i {
      font-size: 1rem; }
      .content-wrapper footer nav a i:hover {
        color: var(--bs-violet);
        animation-name: animatemedia;
        animation-duration: .5s;
        animation-fill-mode: both; }

@media screen and (max-width: 1000px) {
  .content-wrapper .top-header .header-logo {
    margin: 12px 0px 0px; } }

.team-contant {
  margin: 100px 0px 0px;
  padding: 50px 0px; }
  .team-contant .about-team-info .about-team-details .save-team h6 {
    font-size: 16px;
    font-weight: 700;
    color: var(--bs-blue);
    margin: 0px 0px 8px; }
  .team-contant .about-team-info .about-team-details .save-team h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--bs-body-color);
    margin: 0px 0px 25px; }
  .team-contant .about-team-info .about-team-details .save-team p {
    font-size: 16px;
    color: var(--bs-body-color);
    margin: 0px 0px 20px; }
  .team-contant .about-team-info .about-team-details .save-team button {
    margin: 15px 0px 16px;
    padding: 10px 25px;
    background: var(--bs-blue);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px; }
    .team-contant .about-team-info .about-team-details .save-team button:hover {
      animation-name: animatemedia;
      animation-duration: 1s;
      animation-fill-mode: both; }
  .team-contant .about-team-info .about-team-details .save-team .carousel-indicators button {
    background: var(--bs-secondary);
    border: 2px solid var(--bs-secondary);
    height: 0.05px !important;
    width: 0.01px !important;
    margin: 0px 5px;
    padding: 10px 10px;
    border-radius: 50%; }
  .team-contant .about-team-info .about-team-details .save-team .team-information {
    padding: 30px 10px;
    box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07); }
    .team-contant .about-team-info .about-team-details .save-team .team-information img {
      border-radius: 50%;
      margin: 0px 0px 16px;
      height: 100px;
      width: 100px; }
    .team-contant .about-team-info .about-team-details .save-team .team-information h1 {
      font-size: 19px;
      font-weight: 700;
      margin: 0px 0px 8px;
      text-align: center; }
    .team-contant .about-team-info .about-team-details .save-team .team-information h6 {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0px 0px 8px;
      text-align: center;
      color: var(--bs-secondary); }
    .team-contant .about-team-info .about-team-details .save-team .team-information p {
      font-size: 16px;
      margin: 0px 0px 20px;
      text-align: center; }
    .team-contant .about-team-info .about-team-details .save-team .team-information .social-icon i {
      font-size: 20px;
      margin: 0px 8px; }
      .team-contant .about-team-info .about-team-details .save-team .team-information .social-icon i:hover {
        color: var(--bs-violet);
        animation-name: animatemedia;
        animation-duration: 1s;
        animation-fill-mode: both; }

@media screen and (max-width: 540px) {
  .team-contant {
    margin: 0px 0px 0px;
    padding: 0px 0px; } }
